<div class="container">
    <section id="page-name">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVzBPbB843ZwC8CN9koQioO1UhdqYGg197RnFKfKZPm_NUNlMn&s" alt="burger-img">
            <h1>Eat-Da-Burger!</h1>
    </section>

    <section class="row">
        <div class="col-md-7 col-left">
            <table>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block}}
                    {{/unless}}
                {{/each}}
            </table>
        </div>
        <div class="col-md-5 col-right">    
                {{#each burgers}}
                    {{#if devoured}}
                        <div>{{id}}. {{burger_name}}</div>
                    {{/if}}
                {{/each}}
        </div>          
    </section>

    <form class="create-form">
        <div class="form-group">
            <label for="name"></label>
            <textarea id="burger_name" name="burger_name" rows="2" cols="40" placeholder=""></textarea>
        </div>
        <button type="submit">Add Burger</button>
    </form>     
</div>